*.pyc
.idea/*
env/*
development/*
test/*
var/*
etc/*
log/*
log-archive/*
.self-check-passed
baseline/*
node_modules
src/ljmall/website/store_operator_mobile/frontend/node_modules
src/ljmall/website/store_operator_mobile/frontend/dist
src/ljmall/website/vendor_operator/frontend/node_modules
src/ljmall/website/vendor_operator/frontend/dist
npm-debug.log
yarn-error.log
.npmrc
