_auth = eGluZ3dhbmcuemhhbmdAZXZlcmJyaWRnZS5jb206QUtDcDhoeUVndVh4TGlFaGhlTjVKTG9oWkVFSzM5clBWTGFIVHg0VkJaMld4NHUxUjNOY1A5VkdCYUZvMVRDNVpEVWRRMjNDaw==
always-auth = true
email = xingwang.zhang@everbridge.com
registry = https://artifactory.eb-tools.com/artifactory/api/npm/npm-virtual
